%h1
  Hi #{@user.name},
%p You just posted a new score
%p
  Welcome to the GolfGenius! Your new posted score #{@score.total_score}
%p
  Post date #{@score.played_at}
%p
  Course type #{@score.number_of_holes}